<html>
  <head>
    <title>
      Login Form
    </title>
  </head>
  <body>
    <form action="/task/login" method="POST">
      <label>
        email:
      </label>
      <input type="email" name="email" placeholder="enter email" required />
      <label>Password:</label>
      <input
        type="password"
        name="password"
        placeholder="enter password"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
